.form {
}

.lable {
  display: block;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.titleLable {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
  font-size: 20px;
}

.btnForm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}
